@charset "utf-8";
/* CSS Document */

header, section, footer, aside, nav, main, article, figure
{ 
display: block; /* setting the html to block format */
}
html {
    font-family: sans-serif; /* HTML will display in this font */
	background-color: white; /* This is the selected back-ground colour */
}

header {
    font-family: 'Times New Roman', serif; /* Font used in header */
    font-size: 30pt; /* font size selected  */
    color: green; /* colour of font */
    background-color: white; /* This is the selected back-ground colour */
	padding-top: 20px; /* Padding set too 10 pixels to push the title header text down */
    margin-bottom: 16px; /* Margin set too 16 pixels to push the title header text up */
	text-align:center; /* aligning the header text to centre */
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

section                        
{
	height: 310px; /* setting height too 500 pixels for the height of the section */
	width: 85%; /* setting width too 100% (full size) */
	background-color: white; /* setting back ground colout to white */
	text-align: center;
	color: white;
	float: left;
	padding-top:30px;
	
}
section2
{
	height: 490px; /* setting height too 490 pixels for the height of the section */
	width: 49.9%; /* setting width too 49.9% */
	background-color: black; /* setting back ground colour to black */
	text-align: center; /* setting text alignment too centred */
	color: white; /* setting colour of text too white */
	float: left; /* setting text float to left*/
	padding-top: 10px; /* setting padding top too 10 pixels*/
	padding-left: 1px; /* setting padding left too 1%*/
	
}
section3
{
	height: 500px; /* setting height too 500 pixels for the height of the section */
	width: 50%; /* setting width too 50% */
	background-color: black; /* setting back ground colour to black */
	text-align: center; /* setting text alignment too centred */
	color: white; /* setting colour of text too white */
	float: right; /* setting text float to right*/
	padding-top: 8px; /* setting padding top too 8 pixels*/
	
}
footer1
{
	height: 1300px; /* setting height too 230 pixels for the height of footer1 */
	width: 98%; /* setting width too 98% */
	background-color: black; /* setting back ground colour to black */
	color: white; /* setting colour of text too white */
	float: left; /* setting text float to left*/
	padding-down: 10%; /* setting padding down too 10%*/
	text-align:left; /* setting text alignment to left*/
	padding-left: 1%; /* setting padding left too 1%*/
	padding-right: 1%; /* setting padding right too 1%*/
	

}





